
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock title %}</title>
    {% include 'shared/header_ref.html' %}
</head><
<body>
    {% include 'shared/site_header_component.html' %}
    {% block content %}{% endblock content %}
    {% include 'shared/site_footer_component.html' %}
    {% include 'shared/footer_ref.html' %}
    {% block footer %}{% endblock %}
</body>
</html>