{% extends 'shared/layout.html' %}
{% block title %}
    ContactUs
{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-sm-8">
            <div class="contact-form">
                <h2 class="title text-center">با ما در ارتباط باشیـد</h2>
                <div class="status alert alert-success" style="display: none"></div>
                <form id="main-contact-form" class="contact-form row" name="contact-form" method="post">
                    {% csrf_token %}
                    <div class="form-group col-md-6 {% if form.email.errors %}text-danger{% endif %} ">
                        {{ form.mail.label }}
                        {{ form.mail }}
                        {{ form.mail.errors }}
                    </div>
                    <div class="form-group col-md-6 {% if form.full_name.errors %}text-danger{% endif %}">
                        {{ form.name.label }}
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                    <div class="form-group col-md-12 {% if form.subject.errors %}text-danger{% endif %}">
                        {{ form.title.label }}
                        {{ form.title }}
                        {{ form.title.errors }}
                    </div>
                    <div class="form-group col-md-12 {% if form.text.errors %}text-danger{% endif %}">
                        {{ form.message.label }}
                        {{ form.message }}
                        {{ form.message.errors }}
                    </div>
                    <div class="form-group col-md-12">
                        {#                        <input type="submit" name="submit" class="btn btn-primary pull-right" value="ارسـال">#}
                        <button type="submit" class="btn btn-primary pull-right">ارسال</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="contact-info">
                <h2 class="title text-center">اطلاعات تماس</h2>
                <address>
                    <p>گـروه تکنوگـرافی 1614</p>
                    <p>ایـران - آذربایجـان غربـی - خـوی</p>
                    <p>مجتـمع تجـاری تفریحـی شمس - طبـقه 2 - پلاک 54</p>
                    <p>تلفن تماس : 80 21 24 36 044</p>
                    <p>فکس : 80 21 24 36 044</p>
                    <p style="font-family: tahoma;">ایمیـل : info@1614GP.ir</p>
                </address>
                <div class="social-networks">
                    <h2 class="title text-center">شبکـه های اجتـماعی</h2>
                    <span class="socials-share share">
                        <ul>
                            <a href="#">
                                <li>
                                    <label>بلـه</label>
                                    <img src="/static/images/product-details/Bale.png">
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <label>سـروش</label>
                                    <img src="/static/images/product-details/Soroush.png">
                                </li>
                            </a>
                            <a href="#">
                                <li>
                                    <label>اینستاگرام</label>
                                    <img src="/static/images/product-details/Instagram.png">
                                </li>
                            </a>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="/static/js/gmaps.js"></script>
    <script src="/static/js/contact.js"></script>
    <script src="/static/js/jquery.scrollUp.min.js"></script>
    <script src="/static/js/jquery.prettyPhoto.js"></script>
{% endblock %}